@import "../../styles/variables.scss";

.referralContainer {
    width: 40%;
    background-color: $black;
    background-image: url('../../assets/people.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    min-height: 220px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    p {
        margin-top: auto;
        font-size: $fs17;
        color: $light-gray;
    }

}

@media (max-width: 768px) { 
    .referralContainer {
        width: 100%;
    }
}

