@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black: #000;
$bg-main: rgb(244, 246, 244);
$purple: rgb(110,70,143);
$purple-hover: rgb(124, 76, 163);
$red-mastercard: #eb001b;
$orange-mastercard: #f79e1b;
$dark-grey: rgb(52,52,52);
$bg-container: rgb(255, 255, 255);
$light-gray: rgb(184,182,184);
$remove-color: rgb(239,60,33);
$remove: rgb(253, 212, 212);
$remove-hover: rgb(236, 192, 186);
$bgSidebarIcon: rgb(244,244,244);
$fontFamily: 'Urbanist', sans-serif;

$fs11: 11px;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs32: 32px;
$fs40: 40px;
$fs60: 60px;
