@import "../../styles//variables.scss";

.lastUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    color: $light-gray;
    font-size: $fs18;
    
    img {
        width: 70px;
        height: 70px;
    }


}