.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo {
    width: 75px;
    height: 75px;
}

@media (max-width: 992px) {

    .header {
        box-sizing: border-box;
        width: 892px;
        justify-content: space-between;
        align-items: center;
    }
}