@import "../../styles/variables.scss";

.transactionContainer {
    padding: 20px;
    width: 100%;
    background: $bg-container;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;

    .titleContainer {
        display: flex;
        justify-content: space-between;

        .title {
            display: block;
            font-size: $fs18;
            color: $light-gray;
        }

        .btnBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    .blockHistory {
        display: flex;
        flex-direction: column;
        gap: 20px;


        .container {
            // padding: 5rem;

            .elementContainer {
                position: relative;



                .calendarStyle {
                    border: 1px solid #eee;
                    font-family: poppins;
                    border-radius: 1.5rem;
                    z-index: 10;
                    position: relative;
                    background-color: #fff;
                    width: 80%;
                    height: auto;
                    font-size: 10px;
                }



            }


        }

        //   .calendarStyle {
        //     border: 1px solid #eee;
        //     font-family: poppins;
        //     border-radius: 1.5rem;
        //     z-index: 10;
        //     position: relative;
        //     background-color: #fff;
        //     width: 200px;
        //     height: auto;
        //     font-size: 10px;
        //   }

        /* .icon {
            height: 1.6rem;
            width: 2rem;
          } */

        /* input {
            height: 100%;
            width: 90%;
            border: none;
            outline: none;
          } */

        //   .single-calendar-input {
        //     height: 4rem;
        //     width: 35rem;
        //     border-radius: 0.5rem;
        //     border: 1px solid #ddd;
        //     padding: 0 10px;
        //     font-weight: 500;
        //     color: #686868;
        //     margin-bottom: 1rem;
        //     display: flex;
        //     align-items: center;
        //   }



    }
}