@import "../../styles/variables.scss";

.transactionContainer {
    padding: 20px;
    width: 100%;
    background: $bg-container;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;

    .titleContainer {
        display: flex;
        justify-content: space-between;

        .title {
            display: block;
            font-size: $fs18;
            color: $light-gray;
        }

        .btnBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    .blockHistory {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
}